#cy {
    margin: 0 auto;
    width: 1920px;
    height: 500px;
    display: block;
    background-color: blue;
}

* {
    margin: 0;
}
table th {
    border: 1px solid #dddddd;
}
table td {
    border: 1px solid #dddddd;
}
table tr:hover{
    background-color: aqua;
}